extends layout

block scripts
  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/jquery-ui/jquery-ui.js')
  script(src='/bower_components/socket.io-client/dist/socket.io.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
  script(src='/js/index.js')

block content
  .container
    .row
      .col-lg-2
      .col-lg-8
        img(id="image" class="img-responsive")
        // img(src="http://rover.local:8080/?action=stream" class="img-responsive")
      .col-lg-2
        p
          label(for="amount")
            input( type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;")
            | カメラチルト
        #slider-vertical(style="height:200px;")

